/UploadComponent
/TestDataComponent
/TableToXLSver2
/StampAndUploadComponent
/PasswordHashComponent
/OrgChartComponent
/numToWordComponent
/MarbleIcoComponent
/htmlToPDFv2Component
/htmlToPDFComponent
/htmlToExcelComponent
/fontAwesomeButtonComponent
/FlexCardsComponent
/exportexcel
/ExcelJSComponent
/DrawComponent
/AttendanceReaderComponent
/Calendar
/FullCalendarComponent